<div class="main-content">
    <div class="container-fluid">
        <div class="row" layout=”row” layout-align="space-between">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">calendar_today</i>
                        </div>
                        <p class="card-category">Hoy</p>
                        <h3 class="card-title">{{fechaHoy | date: 'longDate'}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Dolar</p>
                        <h3 class="card-title">{{dolar}}
                            <small>COP</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" style="display: contents;">
                        <img src="./assets/img/noticia1.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">'Misión Colombia Envejece' presentará panorama de la vejez en Colombia</h4>
                        <p class="card-category">
                            <span><a href="https://www.eltiempo.com/mas-contenido/mision-colombia-envejece-presentara-panorama-de-la-vejez-en-colombia-753861" target="_blank"><u>Leer mas</u></a></span>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> 3 de septiembre 2023
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" style="display: contents;">
                        <img src="./assets/img/noticia2.png" alt="" style="max-width: 100%;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Depresión en adultos mayores: cómo reconocerla y prevenirla</h4>
                        <p class="card-category"><span><a href="https://www.eltiempo.com/salud/depresion-en-adultos-mayores-como-reconocerla-y-prevenirla-753961" target="_blank"><u>Leer mas</u></a></span></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> 27 de agosto 2023
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header" style="display: contents;">
                    <img src="./assets/img/noticia3.png" alt="">
                </div>
                <div class="card-body">
                    <h4 class="card-title">'Colombia Mayor: se acercan nuevas fechas de pago del subsidio</h4>
                    <p class="card-category">
                        <span><a href="https://www.eltiempo.com/economia/finanzas-personales/pagos-colombia-mayor-fechas-de-giro-del-subsidio-745162" target="_blank"><u>Leer mas</u></a></span>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> 3 de mayo 2023
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header" style="display: contents;">
                    <img src="./assets/img/noticia4.png" alt="">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Envejecimiento de la población, entre los mayores desafíos de reforma pensional</h4>
                    <p class="card-category">
                        <span><a href="https://www.eltiempo.com/economia/sectores/reforma-pensional-estos-son-dos-de-los-mayores-obstaculos-que-enfrenta-733013" target="_blank"><u>Leer mas</u></a></span>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> 19 de febrero 2023
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header" style="display: contents;">
                    <img src="./assets/img/noticia5.png" alt="">
                </div>
                <div class="card-body">
                    <h4 class="card-title">La población mundial llegó a 8.000 millones y cuál es el panorama en Colombia</h4>
                    <p class="card-category">
                        <span><a href="https://www.eltiempo.com/vida/la-poblacion-colombiana-cada-vez-crece-mas-lento-717857" target="_blank"><u>Leer mas</u></a></span>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> 29 de enero 2022
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header" style="display: contents;">
                    <img src="./assets/img/noticia6.png" alt="" style="max-width: 100%;">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Petro: 'Las mesadas de adultos mayores se pagan del presupuesto'</h4>
                    <p class="card-category"><span><a href="https://www.eltiempo.com/politica/gobierno/gustavo-petro-explica-su-propuesta-para-las-pensiones-702305" target="_blank"><u>Leer mas</u></a></span></p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> 24 de enero 2022
                </div>
            </div>
        </div>
    </div>
</div>
</div>