<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Medicina</h4>
                        <p class="card-category">Entrega de medicamentos a domicilio</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        NOMBRE
                                    </th>
                                    <th>
                                        CONTACTO
                                    </th>
                                    <th>
                                        HORARIO
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Cruz verde domiciliaria
                                        </td>
                                        <td>
                                            3112569823
                                        </td>
                                        <td>
                                            lunes a domingo 
                                            8:00am a 9:00pm
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Drogas la rebaja
                                        </td>
                                        <td>
                                            3102598452
                                        </td>
                                        <td>
                                            lunes a domingo 
                                            8:00am a 9:00pm
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            A tu puerta tu medicina
                                        </td>
                                        <td>
                                            3218953258
                                        </td>
                                        <td>
                                            lunes a domingo 
                                            8:00am a 9:00pm
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Servicios públicos</h4>
                        <p class="card-category">Pago de servicios publicos a domicilio</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        NOMBRE
                                    </th>
                                    <th>
                                        CONTACTO
                                    </th>
                                    <th>
                                        HORARIO
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Con suerte a domicilio
                                        </td>
                                        <td>
                                            3102598452
                                        </td>
                                        <td>
                                            lunes a domingo 
                                            8:00am a 9:00pm
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Domicilios gana gana
                                        </td>
                                        <td>
                                            3102598452
                                        </td>
                                        <td>
                                            lunes a domingo 
                                            8:00am a 9:00pm
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                           Electro pagos
                                        </td>
                                        <td>
                                            3102598452
                                        </td>
                                        <td>
                                            lunes a domingo 
                                            8:00am a 9:00pm
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>